@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent; }

textarea {
  resize: none;
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both; }

input, select {
  outline: 0; }

:root {
  --font-color: #3c3c3c;
  --red: #ce0139;
  --red-deep: #940100;
  --gutter: 20px;
  --pchomeRed: #D7000F;
  --swiperActive: #D7000F; }

* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  font-weight: 300; }

html, body {
  color: #3f3f3f;
  background-color: #d4d4d4;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  position: static;
  overflow-x: hidden;
  scroll-padding-top: 40px;
  scroll-behavior: initial !important;
  background: url("@/assets/new/section_bg.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: 160rem; }
  @media only screen and (max-width: 1440px) {
    html, body {
      font-size: 1.05vw; } }
  @media only screen and (max-width: 1024px) {
    html, body {
      font-size: 1.1vw;
      scroll-behavior: smooth !important; } }
  @media only screen and (max-width: 991px) {
    html, body {
      scroll-padding-top: 30px;
      padding: 0;
      font-size: 2.3vw;
      background: url("@/assets/new/section_bg-app.jpg") top center repeat;
      background-size: 100%; } }
  @media only screen and (max-width: 767px) {
    html, body {
      font-size: 3.2vw; } }

html {
  position: static; }
  @media only screen and (max-width: 991px) {
    html {
      height: 100%; } }

span, i, small, strong, b {
  vertical-align: 0;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: inherit; }

/* ---------- 組成  ----------*/
.couponBox {
  font-family: Montserrat, 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif; }
  .couponBox li {
    position: relative;
    margin-bottom: .5rem; }
    .couponBox li * {
      color: #440015; }
  .couponBox .main {
    width: 100%;
    height: 10.8rem;
    color: #3f3f3f;
    background: url("@/assets/new/coupon_bg.png") top center no-repeat;
    background-size: 100%;
    transition: .3s all;
    display: grid;
    grid-template-columns: 80% auto;
    gap: 1%; }
    @media only screen and (max-width: 1024px) {
      .couponBox .main {
        height: 10rem;
        background-size: 100% 100%; } }
    @media only screen and (max-width: 767px) {
      .couponBox .main {
        height: 9rem; } }
    .couponBox .main:hover {
      transform: scale(1.03);
      filter: brightness(1.1); }
      @media only screen and (max-width: 991px) {
        .couponBox .main:hover {
          transform: none;
          filter: none; } }
    .couponBox .main.pe-none .btn.goBtn {
      color: #b9b9b9;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3; }
    .couponBox .main.disabled {
      pointer-events: none; }
  .couponBox .box {
    padding: 0 0.5rem 0 1rem; }
  .couponBox .label {
    width: 6.3rem; }
    @media only screen and (max-width: 767px) {
      .couponBox .label {
        width: 17vw; } }
    .couponBox .label strong {
      display: block;
      width: 100%;
      height: 6.3rem;
      background: url("@/assets/new/coupon_label.png") top center no-repeat;
      background-size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.15rem;
      font-weight: 700;
      padding: 0 0.4rem;
      text-align: center;
      line-height: 1.1; }
      @media only screen and (max-width: 767px) {
        .couponBox .label strong {
          height: 17vw;
          font-size: 3.5vw;
          padding: 0 2vw; } }
  .couponBox .content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 0.8rem; }
  .couponBox .h3 {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0; }
    @media only screen and (max-width: 767px) {
      .couponBox .h3 {
        font-size: 15px; } }
  .couponBox .btn {
    padding: 0 .5rem 0 0;
    line-height: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (max-width: 767px) {
      .couponBox .btn {
        padding: 0 1vw 0 0; } }
    .couponBox .btn span {
      width: 100%;
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.3;
      color: #fff; }
      @media only screen and (max-width: 1024px) {
        .couponBox .btn span {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 767px) {
        .couponBox .btn span {
          font-size: 4vw; } }
    .couponBox .btn.goBtn i {
      margin-top: .3rem;
      position: relative;
      display: block; }
      .couponBox .btn.goBtn i::before {
        content: "";
        width: 32px;
        height: 33px;
        background: url("@/assets/new/coupon_arrow.png") top center no-repeat;
        background-size: 100%;
        display: block;
        margin: auto; }
        @media only screen and (max-width: 1024px) {
          .couponBox .btn.goBtn i::before {
            width: 2vw;
            height: 2vw; } }
        @media only screen and (max-width: 991px) {
          .couponBox .btn.goBtn i::before {
            width: 4vw;
            height: 4vw; } }
    .couponBox .btn.gotit span {
      color: #b9b9b9; }
    .couponBox .btn.theend span {
      color: #b9b9b9; }
  .couponBox .date {
    font-size: 1rem;
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin-top: .5rem;
    opacity: .7; }
    @media only screen and (max-width: 1024px) {
      .couponBox .date {
        margin-top: 0; } }
    @media only screen and (max-width: 991px) {
      .couponBox .date {
        margin-top: .3rem; } }
    @media only screen and (max-width: 767px) {
      .couponBox .date {
        font-size: 11px;
        line-height: 1;
        margin-top: 1vw; } }
    @media only screen and (max-width: 330px) {
      .couponBox .date {
        font-size: 9px; } }
  .couponBox.disabled {
    pointer-events: none; }
    .couponBox.disabled .btn.goBtn {
      color: #0042ca;
      background-color: rgba(255, 255, 255, 0.8); }
  .couponBox .amt {
    font-size: 3.3rem;
    line-height: 1.1;
    font-family: Montserrat, "Noto Sans TC";
    font-weight: 700; }
    @media only screen and (max-width: 767px) {
      .couponBox .amt {
        font-size: 9vw; } }
    .couponBox .amt strong {
      letter-spacing: -3px;
      line-height: inherit; }
    .couponBox .amt small {
      font-size: 50%;
      font-weight: 500;
      vertical-align: 3px;
      line-height: inherit; }

.collection {
  margin-top: 1rem;
  font-family: Montserrat, 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif; }
  .collection .couponBox {
    padding: 0; }
    .collection .couponBox .main {
      display: block;
      height: 12rem;
      background: url("@/assets/new/coupon_bg-s.png") top center no-repeat;
      background-size: 100%;
      padding: 0; }
      @media only screen and (max-width: 1024px) {
        .collection .couponBox .main {
          background-size: 100% 100%; } }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .main {
          height: 34vw; } }
      .collection .couponBox .main:hover {
        transform: none; }
    .collection .couponBox .box {
      height: 9.3rem;
      padding: 0 0.8rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center; }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .box {
          height: 8.3rem; } }
    .collection .couponBox .label {
      width: 5rem; }
      .collection .couponBox .label strong {
        width: 100%;
        height: 5rem; }
    .collection .couponBox .content {
      display: block; }
      @media only screen and (max-width: 1024px) {
        .collection .couponBox .content {
          padding: 0 0 0 1.3rem; } }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .content {
          padding: 0 0 0 2vw; } }
    .collection .couponBox .h3 {
      font-size: 1.1rem;
      margin-bottom: 5px; }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .h3 {
          font-size: 15px; } }
    .collection .couponBox .amt {
      padding-right: 0.5rem;
      font-size: 3rem;
      line-height: 0.9; }
    .collection .couponBox .btn span {
      width: auto;
      font-size: 1.3rem; }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .btn span {
          font-size: 4vw; } }
    .collection .couponBox .btn.goBtn i {
      margin: 5px 0 0 5px; }
      .collection .couponBox .btn.goBtn i::before {
        content: "";
        width: 20px;
        height: 22px; }
        @media only screen and (max-width: 1024px) {
          .collection .couponBox .btn.goBtn i::before {
            width: 1.5vw;
            height: 1.5vw; } }
        @media only screen and (max-width: 991px) {
          .collection .couponBox .btn.goBtn i::before {
            width: 3vw;
            height: 3vw; } }
    .collection .couponBox .btn br {
      display: none; }
    .collection .couponBox .date {
      font-size: .9rem;
      margin-top: .4rem; }
      @media only screen and (max-width: 767px) {
        .collection .couponBox .date {
          font-size: 10px; } }
  .collection .swiper {
    padding-bottom: 1.5rem !important; }
  .collection .swiper-pagination .swiper-pagination-bullet {
    background-color: white; }
    .collection .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--swiperActive); }

.getAll {
  margin: 2rem 0 1.5rem; }
  .getAll .btn {
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    border: 2px solid #fff;
    border-radius: 10rem;
    color: #fff;
    margin: 0 .5rem;
    position: relative;
    transition: .3s all; }
    @media only screen and (max-width: 767px) {
      .getAll .btn {
        font-size: 5.5vw; } }
    .getAll .btn:hover {
      transform: scale(1.1);
      filter: brightness(1.05); }
      @media only screen and (max-width: 991px) {
        .getAll .btn:hover {
          transform: none;
          filter: none; } }
    .getAll .btn i::before {
      content: '';
      position: absolute;
      display: block; }
  .getAll #getAllcoupon {
    background: #e9083d;
    padding: 0.375rem 40px 0.75rem 0; }
    @media only screen and (max-width: 767px) {
      .getAll #getAllcoupon {
        padding-right: 9vw; } }
    .getAll #getAllcoupon i::before {
      width: 4.5rem;
      height: 5.6rem;
      background: url("@/assets/new/coupon_click.png") top center no-repeat;
      background-size: 100%;
      top: 50%;
      left: 50%;
      transform: translate(2%, -21%); }
      @media only screen and (max-width: 1024px) {
        .getAll #getAllcoupon i::before {
          width: 5vw;
          height: 6.5vw; } }
      @media only screen and (max-width: 991px) {
        .getAll #getAllcoupon i::before {
          width: 9vw;
          height: 11.5vw; } }
      @media only screen and (max-width: 767px) {
        .getAll #getAllcoupon i::before {
          width: 10vw;
          height: 13vw; } }
    .getAll #getAllcoupon.pe-none {
      filter: grayscale(1);
      padding: 0.375rem 0.75rem; }
      .getAll #getAllcoupon.pe-none i::before {
        display: none; }
    .getAll #getAllcoupon span {
      text-align: left; }
      .getAll #getAllcoupon span i {
        position: relative; }
  .getAll .moreCoupon {
    background: #fff;
    color: #422f27; }
  .getAll small {
    width: 100%;
    display: block;
    font-size: 50%; }

#takeCoupon h4 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0 2rem;
  color: var(--blue); }
  #takeCoupon h4 a {
    font-size: inherit;
    font-weight: inherit; }
    #takeCoupon h4 a.warning {
      color: var(--red); }

#takeCoupon object {
  width: 10rem;
  display: block;
  margin: 2rem auto 0; }
  #takeCoupon object.accept {
    margin: 0 auto;
    width: 13rem; }

h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0; }

.arrow {
  border: solid rgba(255, 255, 255, 0.7);
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -5px; }

.arRight {
  transform: rotate(-45deg); }

.arLeft {
  transform: rotate(135deg); }

.arUp {
  transform: rotate(-135deg); }

.d-block {
  width: 100%; }

.hide {
  display: none !important; }

.absolute {
  position: absolute;
  top: 0;
  left: 50%; }

.radius {
  border-radius: 2.5rem; }

.swiper {
  padding-bottom: 1.5rem !important; }
  .swiper a:hover img {
    transform: none !important; }

.swiper-button-next, .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.8);
  width: 45px;
  height: 45px;
  border-radius: 100%; }
  @media only screen and (max-width: 767px) {
    .swiper-button-next, .swiper-button-prev {
      width: 35px;
      height: 35px; } }
  .swiper-button-next:after, .swiper-button-next:after, .swiper-button-prev:after, .swiper-button-prev:after {
    font-size: 1.85rem;
    color: #fff; }
    @media only screen and (max-width: 767px) {
      .swiper-button-next:after, .swiper-button-next:after, .swiper-button-prev:after, .swiper-button-prev:after {
        font-size: 1rem; } }

.swiper-pagination {
  line-height: 1;
  bottom: 0 !important; }
  .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #e9b268;
    transition: .3s all; }
    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      opacity: 1;
      background-color: var(--swiperActive);
      width: 25px;
      border-radius: 50px; }

#smallBn {
  overflow: hidden; }

.right__menu .menu_box li.active i {
  width: 18px;
  height: 18px;
  display: block;
  background: url("@/assets/new/menu_icon.png") top center no-repeat;
  background-size: 100%;
  margin: 5px 3px 0 0; }

@media only screen and (max-width: 991px) {
  .right__menu .menu_box li a br {
    display: none; } }

@media only screen and (max-width: 991px) {
  #appTopNav {
    position: relative; }
    #appTopNav .nav_btn {
      right: 2.5%;
      border-radius: 0 10px 10px 0; }
    #appTopNav.active .right__menu {
      margin: 0;
      width: 100%;
      position: fixed;
      border-radius: 0; }
    #appTopNav.active .nav_btn {
      position: fixed;
      height: 43px;
      right: 0; } }

section {
  width: 100%;
  position: relative; }

.container {
  width: 73rem;
  padding: 0;
  position: relative; }
  @media only screen and (max-width: 991px) {
    .container {
      width: 95% !important; } }

.outBox {
  width: 78.75rem;
  margin: 0 auto; }
  @media only screen and (max-width: 991px) {
    .outBox {
      width: 98%; } }

.wrap {
  width: 100%;
  overflow-x: hidden;
  position: relative; }
  @media only screen and (max-width: 991px) {
    .wrap {
      overflow: visible; } }

.kvBg {
  width: 160rem;
  transform: translate(-50%, 0); }
  @media only screen and (max-width: 991px) {
    .kvBg {
      width: 100%; } }

.eventGuide {
  width: 12rem;
  transform: translate(17rem, -2.2rem);
  cursor: pointer;
  transition: .3s ease; }
  @media only screen and (max-width: 991px) {
    .eventGuide {
      width: 27vw;
      transform: translate(-53vw, -4.5vw); } }
  .eventGuide:hover {
    filter: brightness(1.1); }

.kvTitle {
  width: 35.1rem;
  margin: 3rem auto 0;
  position: relative;
  left: 1rem; }
  @media only screen and (max-width: 991px) {
    .kvTitle {
      width: 85%;
      margin: 0 auto 2vw;
      padding-top: 25vw;
      left: -2vw; } }

#topbn {
  position: relative;
  z-index: 2;
  margin: auto; }
  @media only screen and (max-width: 991px) {
    #topbn {
      width: 580px;
      min-height: auto; } }
  @media only screen and (max-width: 640px) {
    #topbn {
      width: 390px; } }
  @media only screen and (max-width: 410px) {
    #topbn {
      width: 350px !important;
      max-width: 95%; } }
  #topbn li {
    padding: 0 .3rem; }
    #topbn li.bn {
      width: 19.5rem; }
      @media only screen and (max-width: 991px) {
        #topbn li.bn {
          width: 50%;
          margin-bottom: .5rem; } }
    #topbn li.bank {
      width: 33.5rem;
      position: relative; }
      @media only screen and (max-width: 991px) {
        #topbn li.bank {
          width: 100%; } }
      #topbn li.bank a {
        display: block;
        position: absolute;
        width: 8.1rem;
        height: 8.1rem;
        top: 0;
        left: 50%;
        z-index: 1; }
        @media only screen and (max-width: 991px) {
          #topbn li.bank a {
            width: 140px;
            height: 140px; } }
        @media only screen and (max-width: 640px) {
          #topbn li.bank a {
            width: 90px;
            height: 100px; } }
        @media only screen and (max-width: 410px) {
          #topbn li.bank a {
            width: 85px;
            height: 90px; } }
        @media only screen and (max-width: 350px) {
          #topbn li.bank a {
            width: 24vw;
            height: 26vw; } }
        #topbn li.bank a:nth-child(1) {
          transform: translate(-15rem, 3.6rem); }
          @media only screen and (max-width: 991px) {
            #topbn li.bank a:nth-child(1) {
              transform: translate(-16.5rem, 4rem); } }
          @media only screen and (max-width: 640px) {
            #topbn li.bank a:nth-child(1) {
              transform: translate(-10.8rem, 2.5rem); } }
          @media only screen and (max-width: 410px) {
            #topbn li.bank a:nth-child(1) {
              transform: translate(-9.8rem, 2.2rem); } }
          @media only screen and (max-width: 350px) {
            #topbn li.bank a:nth-child(1) {
              transform: translate(-43vw, 9vw); } }
        #topbn li.bank a:nth-child(2) {
          transform: translate(-5rem, 3.6rem); }
          @media only screen and (max-width: 991px) {
            #topbn li.bank a:nth-child(2) {
              transform: translate(-5.5rem, 4rem); } }
          @media only screen and (max-width: 640px) {
            #topbn li.bank a:nth-child(2) {
              transform: translate(-3.5rem, 2.5rem); } }
          @media only screen and (max-width: 410px) {
            #topbn li.bank a:nth-child(2) {
              transform: translate(-3.2rem, 2.2rem); } }
          @media only screen and (max-width: 350px) {
            #topbn li.bank a:nth-child(2) {
              transform: translate(-15vw, 9vw); } }
        #topbn li.bank a:nth-child(3) {
          transform: translate(5.2rem, 3.6rem); }
          @media only screen and (max-width: 991px) {
            #topbn li.bank a:nth-child(3) {
              transform: translate(5.5rem, 4rem); } }
          @media only screen and (max-width: 640px) {
            #topbn li.bank a:nth-child(3) {
              transform: translate(4rem, 2.5rem); } }
          @media only screen and (max-width: 410px) {
            #topbn li.bank a:nth-child(3) {
              transform: translate(3.5rem, 2.2rem); } }
          @media only screen and (max-width: 350px) {
            #topbn li.bank a:nth-child(3) {
              transform: translate(14vw, 9vw); } }

#guideBox {
  z-index: 3; }
  #guideBox .outBox {
    background-color: #ffdfbf;
    padding: 2rem 0 1rem; }
  #guideBox .container {
    width: 63.5rem; }
    @media only screen and (max-width: 991px) {
      #guideBox .container {
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        overflow: inherit; } }
  #guideBox .subTitle {
    display: none; }
  #guideBox .swiper {
    padding-bottom: 1rem !important; }

.gridBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 3.5%; }
  @media only screen and (max-width: 991px) {
    .gridBox {
      display: block;
      padding: 4vw 3vw; } }
  @media only screen and (max-width: 640px) {
    .gridBox {
      padding: 3vw 2vw; } }
  .gridBox .gridBox--left {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 4%; }
    @media only screen and (max-width: 991px) {
      .gridBox .gridBox--left {
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 640px) {
      .gridBox .gridBox--left {
        grid-template-columns: 51% auto;
        gap: 3%; } }
  .gridBox .gridBox--right {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    .gridBox .gridBox--right .heroBn {
      width: 100%; }
      .gridBox .gridBox--right .heroBn .swiper-pagination .swiper-pagination-bullet {
        margin-bottom: 3px;
        background-color: rgba(255, 255, 255, 0.9); }
        .gridBox .gridBox--right .heroBn .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background-color: var(--swiperActive); }
      .gridBox .gridBox--right .heroBn .note.n2 {
        background-color: #303321;
        color: #49ffb2; }
      .gridBox .gridBox--right .heroBn .note.n1 {
        display: none; }
    .gridBox .gridBox--right .bnEvent_2 {
      padding-top: .5rem; }
      @media only screen and (max-width: 991px) {
        .gridBox .gridBox--right .bnEvent_2 {
          width: 100%;
          margin: 0;
          padding-top: 0; }
          .gridBox .gridBox--right .bnEvent_2 #event_ad_4 {
            border-right: 1px solid;
            padding-left: 0; }
          .gridBox .gridBox--right .bnEvent_2 #event_ad_5 {
            padding-right: 0; } }

.bnEventBig {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }
  .bnEventBig li {
    position: relative;
    padding: 0.5rem 0; }
    .bnEventBig li::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #303321;
      bottom: -10%; }
      @media only screen and (max-width: 991px) {
        .bnEventBig li::before {
          bottom: -7%; } }
    .bnEventBig li:last-child::before {
      display: none; }
    .bnEventBig li:nth-child(1) {
      padding-top: 0; }
    .bnEventBig li:last-child {
      padding-bottom: 0; }

.bnEvent2 {
  padding: 1.4rem 0 0; }

#rebate {
  margin-top: 1.5rem; }
  #rebate li {
    margin-bottom: 10px; }

#bank {
  padding: 4rem 0; }
  @media only screen and (max-width: 991px) {
    #bank {
      padding: 2.5rem 0 0; } }
  #bank .swiper {
    overflow: visible;
    padding-bottom: 1.5rem; }
  #bank .bankBox {
    width: 2500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 1024px) {
      #bank .bankBox {
        width: 2000px; } }
    @media only screen and (max-width: 991px) {
      #bank .bankBox {
        width: 100vw; } }

.h6 {
  width: 47rem;
  max-width: 100%;
  margin: 0 auto; }

#sbdpreview {
  padding-bottom: 2rem; }
  @media only screen and (max-width: 991px) {
    #sbdpreview {
      padding: 2rem 0 0; } }
  #sbdpreview .h6 {
    margin: 2rem auto; }
  #sbdpreview .container {
    padding-left: 0.8rem; }
    @media only screen and (max-width: 991px) {
      #sbdpreview .container {
        margin-bottom: 2rem; } }
  #sbdpreview [class*=col] {
    position: relative; }
  #sbdpreview .subTitle {
    width: 11rem;
    height: 4rem;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 500;
    color: #481c0f;
    line-height: 1.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: url("@/assets/new/sbdpreview_label.png") top center no-repeat;
    background-size: 100%; }
    #sbdpreview .subTitle .icon {
      width: 23px;
      display: inline-block;
      vertical-align: -4px; }
  #sbdpreview .row {
    position: relative; }
    @media only screen and (max-width: 991px) {
      #sbdpreview .row {
        padding: 0 2.5vw 0 0.5vw; } }
  #sbdpreview .swiper-slide {
    padding: 1.3rem 0 0 0.7rem; }
  #sbdpreview a .note {
    top: 0.8rem; }
    #sbdpreview a .note.n1 {
      display: none; }

#discount {
  padding-top: 4rem;
  scroll-margin-top: -10px; }
  @media only screen and (max-width: 991px) {
    #discount {
      scroll-margin-top: -20px; } }
  #discount .container {
    width: 70rem;
    margin-bottom: 3rem; }
  #discount li {
    margin-bottom: 1.3rem; }
  #discount .h6 {
    position: relative; }

.marquee {
  margin-bottom: 2rem;
  animation: slide_left 30s linear infinite; }
  .marquee img {
    width: 124.7rem; }
    @media only screen and (max-width: 991px) {
      .marquee img {
        width: 250vw; } }

@keyframes slide_left {
  from {
    left: 0px; }
  to {
    left: -124.7rem; } }

@media only screen and (max-width: 991px) {
  @keyframes slide_left {
    from {
      left: 0px; }
    to {
      left: -250vw; } } }

.deepPink {
  background: url("@/assets/new/pink_bg.jpg") top center repeat #faa8b5;
  box-shadow: inset 0 -1rem 4rem #ffa3b5;
  background-attachment: fixed;
  background-size: 156rem; }

#brands {
  padding-top: 4rem; }

#sbdbody {
  padding-top: 5rem; }
  @media only screen and (max-width: 767px) {
    #sbdbody {
      padding-top: 3rem; } }
  #sbdbody .container {
    border: 3px solid #fff;
    border-radius: 2.5rem;
    padding: 0 2rem 0 .8rem;
    background: linear-gradient(135deg, #fbc5cd 18%, #f9d6db 32%, #f9e0e5 45%, #fbc3cc 73%); }
    @media only screen and (max-width: 991px) {
      #sbdbody .container {
        padding: 1.3rem 1rem 1rem; } }
  #sbdbody ul {
    margin-top: -2rem;
    position: relative; }
    @media only screen and (max-width: 991px) {
      #sbdbody ul {
        margin: 0; } }

#strategy {
  padding: 7rem 0 0; }
  @media only screen and (max-width: 991px) {
    #strategy {
      padding: 4rem 0 0; } }

#list {
  background: #ffccd4;
  padding: 4rem 0 2rem;
  margin: 6rem 0 0; }
  #list .container {
    width: 80rem; }
    @media only screen and (max-width: 991px) {
      #list .container {
        width: 100% !important;
        max-width: 100% !important; } }

#project {
  padding: 6rem 0; }
  @media only screen and (max-width: 991px) {
    #project {
      margin: 3rem 0 0; } }
  #project .container {
    background: linear-gradient(to right, #faddc8 0%, #fcf5ec 24%, #fad4bd 61%, #fbf2e9 90%); }
    #project .container .main {
      display: grid;
      grid-template-columns: 49% auto;
      gap: 1.5%;
      padding: 1.5rem 2rem 0; }
      @media only screen and (max-width: 991px) {
        #project .container .main {
          display: block;
          padding: 1.5rem 1.5rem 0; } }
      @media only screen and (max-width: 767px) {
        #project .container .main {
          padding: 1.5rem 1rem 0; } }
    #project .container .brandPD {
      margin: 0 -.4rem; }
    #project .container .brandPDPower {
      position: relative;
      padding: 1.5rem 2rem 0; }
      @media only screen and (max-width: 767px) {
        #project .container .brandPDPower {
          padding: inherit; } }

#coupon {
  padding: 5rem 0 1rem; }
  #coupon .container {
    padding: 2rem 2.5rem .5rem;
    border: 3px solid #fff;
    border-radius: 2.5rem;
    background: linear-gradient(135deg, #ddddf9 18%, #e6e8fa 33%, #e2e5fb 46%, #c7c8f5 73%); }
    @media only screen and (max-width: 991px) {
      #coupon .container {
        padding: 1.5rem 1rem 0.5rem; } }

@keyframes move-forever {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(50%, 0); } }

#millionPD {
  margin: 6rem auto 3rem; }
  @media only screen and (max-width: 1440px) {
    #millionPD .container {
      width: 100%; } }

.os-scrollbar .os-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15) !important; }

.os-scrollbar.os-scrollbar-horizontal {
  height: 15px !important; }

[class*=deco] {
  pointer-events: none; }

/* 修改區域 */
.curve-theme {
  display: flex;
  justify-content: center; }
  .curve-theme img {
    width: 100%; }
  .curve-theme.top {
    margin-top: -11rem; }

.moreProPD {
  padding: 3rem 0 6rem;
  position: relative; }
  .moreProPD::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    width: 100%;
    height: 100%;
    background: url("@/assets/new/pink_bg.jpg") top center repeat #faa8b5;
    background-size: 156rem;
    box-shadow: inset 0 -1rem 1rem 1rem #ffa3b5; }
  @media only screen and (max-width: 991px) {
    .moreProPD {
      padding-bottom: 5rem; } }

.modal-box {
  padding-top: 4rem; }
  .modal-box .container {
    padding: 2rem 3rem 1rem;
    border: 3px solid #fff;
    border-radius: 2.5rem;
    background-color: rgba(255, 255, 255, 0.3); }
    @media only screen and (max-width: 767px) {
      .modal-box .container {
        padding: 2rem 1.5rem 1rem; } }

#cate {
  padding: 5rem 0; }
  @media only screen and (max-width: 991px) {
    #cate {
      margin-bottom: 4vw; } }
  @media only screen and (max-width: 767px) {
    #cate {
      margin-bottom: 13vw; } }

#date {
  margin-bottom: -2rem; }
  @media only screen and (max-width: 991px) {
    #date {
      margin-bottom: -4vw; } }
  @media only screen and (max-width: 767px) {
    #date {
      margin-bottom: -6vw; } }

#dailysale {
  margin-top: 1rem;
  padding-bottom: 6rem;
  overflow: hidden; }
  @media only screen and (max-width: 1024px) {
    #dailysale {
      padding-bottom: 3rem; } }
  #dailysale .h6 {
    width: 48rem;
    position: relative; }
  #dailysale .title {
    display: block;
    position: relative; }
    #dailysale .title .watch-more-btn {
      width: 17.5%;
      position: absolute;
      top: 36%;
      right: -12%; }
      #dailysale .title .watch-more-btn:hover {
        animation: move-forever 0.7s infinite ease; }
      @media only screen and (max-width: 1024px) {
        #dailysale .title .watch-more-btn {
          top: 0;
          right: 10%; } }

@keyframes move-forever {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(10%, 0); } }

#calendar h5 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    #calendar h5 {
      font-size: 7vw; } }

#calendar .modal-dialog {
  width: 43rem;
  max-width: 100%; }

#calendar .modal-content {
  background-color: #000; }

#calendar .modal-header {
  border: 0;
  padding-bottom: 0; }
  #calendar .modal-header .btn-close {
    opacity: 1;
    border-radius: 0;
    padding: 0;
    width: 2.5rem;
    height: auto;
    position: absolute;
    right: -2px;
    top: -5px; }
    @media only screen and (max-width: 767px) {
      #calendar .modal-header .btn-close {
        width: 10vw;
        right: 13px;
        top: -15px; } }

@media only screen and (max-width: 767px) {
  #calendar .modal-body {
    padding: 0.5rem 3px 1rem; } }

@media only screen and (max-width: 767px) {
  #calendar .modal-dialog {
    margin: 0; } }
